<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head"></th:block>
<body>

	<th:block th:include="fragments/navbar"></th:block>
	<div class="container">

		<div class="card" style="max-width: 100%;">
			<div class="card-header">Registrar Libro</div>
			<div class="card-body">

				<form th:object="${book}" th:action="@{/books/save}"
					th:method="post">
					<div class="form-group">
						<input type="hidden" class="form-control" th:field="*{id}" />
					</div>

					<div class="form-group">
						<label for="title">Title</label> <input type="text"
							class="form-control" id="title" aria-describedby="title"
							th:field="*{title}" placeholder="type here ..." />
					</div>

					<div class="form-group">
						<label for="author">Author</label> <input type="text"
							class="form-control" id="author" aria-describedby="author"
							th:field="*{author}" placeholder="type here ..." />
					</div>

					<div class="form-group">
						<label for="category">Category</label> <select id="category"
							class="form-control" th:field="*{categories}" multiple="multiple">
							<option th:each="category : ${categories}"
								th:text="${category.name}" th:value="${category.id}"></option>
						</select>
					</div>
					<div class="form-group">
						<label for="date">Year</label> <input type="text"
							class="form-control" id="date" th:field="*{dateField}" />
					</div>
					<div class="form-group">
						<label for="description">Description</label>
						<textarea rows="4" type="textarea" class="form-control"
							id="description" th:field="*{description}"
							playeholder="type here ..." /></textarea>
					</div>

					<a th:href="@{/books/}" class="btn btn-primary">Regresar</a>
					<button type="submit" class="btn btn-success">Save</button>
				</form>
			</div>
		</div>

	</div>
	<th:block th:include="fragments/scripts"></th:block>

</body>
</html>