 <!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head"></th:block>
<body>

	<th:block th:include="fragments/navbar"></th:block>
	<div class="container">

		<div class="card" style="max-width: 100%;">
			<div class="card-header">Mantenimiento Proveedores</div>
			<div class="card-body">

				<a th:href="@{/suppliers/new}" class="btn btn-primary">Registrar</a>

				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th>Empresa</th>
							<th>RUC</th>
							<th>Producto</th>
							<th>Telefono</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="supplier : ${suppliers}">

							<td th:text="${supplier.id}">1</td>
							<td th:text="${supplier.enterprise}">HAMP</td>
							<td th:text="${supplier.ruc}">HAMP</td>
							<td th:text="${supplier.product}">HAMP</td>
							<td th:text="${supplier.phone}">HAMP</td>
		
							<td><a th:href="@{'/suppliers/show/' + ${supplier.id}}"
								class="btn btn-primary">Ver</a></td>
							<td><a th:href="@{'/suppliers/edit/'+ ${supplier.id}}"
								class="btn btn-success">Editar</a></td>
							<td><a th:href="@{'/suppliers/delete/' + ${supplier.id}}"
								class="btn btn-danger">Eliminar</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
	<th:block th:include="fragments/scripts"></th:block>

</body>
</html>