<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head"></th:block>
<body>

	<th:block th:include="fragments/navbar"></th:block>
	<div class="container">

		<div class="card" style="max-width: 100%;">
			<div class="card-header">Actualizar Solicitud</div>
			<div class="card-body">

				<form th:object="${request}"  th:action="@{/requests/update/{id}(id=${request.id})}" 
					th:method="post">
					<div class="form-group">
						<input type="hidden" class="form-control" th:field="*{id}" />
					</div>
					
				<div class="form-group">
						<label for="area">Area</label> <input type="text"
							class="form-control" id="area" aria-describedby="area"
							th:field="*{area}" placeholder="type here ..." />
					</div>
					
					                    <div class="form-group">
						<label for="product">Product</label> <input type="text"
							class="form-control" id="product" aria-describedby="product"
							th:field="*{product}" placeholder="type here ..." />
					</div>
					
					<div class="form-group">
						<label for="description">Description</label> <input type="text"
							class="form-control" id="description" aria-describedby="description"
							th:field="*{description}" placeholder="type here ..." />
					</div>
					
					<div class="form-group">
						<label for="quantity">Quantity</label> <input type="text"
							class="form-control" id="quantity" aria-describedby="quantity"
							th:field="*{quantity}" placeholder="type here ..." />
					</div>
					
					<div class="form-group">
						<label for="state">State</label> <input type="text"
							class="form-control" id="state" aria-describedby="state"
							th:field="*{state}" placeholder="type here ..." />
					</div>
					
					<div class="form-group">
						<label for="date">Fecha</label> <input type="text"
							class="form-control" id="date" aria-describedby="date"
							th:field="*{date}" placeholder="type here ..." />
					</div>
					
					<div class="form-group">
						<label for="unit_price">Unit_price</label> <input type="text"
							class="form-control" id="unit_price" aria-describedby="unit_price"
							th:field="*{unit_price}" placeholder="type here ..." />
					</div>
					
					
					<a th:href="@{/requests/}" class="btn btn-primary">Regresar</a>
					<button type="submit" class="btn btn-success">Save</button>
				</form>
			</div>
		</div>

	</div>
	<th:block th:include="fragments/scripts"></th:block>

</body>
</html>