<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head"></th:block>
<body>

	<th:block th:include="fragments/navbar"></th:block>
	<div class="container">

		<div class="card" style="max-width: 100%;">
			<div class="card-header">Mantenimiento Solicitudes</div>
			<div class="card-body">
				
				<a th:href="@{/requests/new}" class="btn btn-primary">Nuevo</a>
				
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th>Area</th>
							<th>Product</th>
							<th>Quantity</th>
							<th>State</th>
							<th>Date</th>
							<th>Unit_price</th>
						
							
							
						</tr>
					</thead>
					<tbody>
						<tr th:each="request : ${requests}">
							
							<td th:text="${request.id}">1</td>
							<td th:text="${request.area}">HAMP</td>
							<td th:text="${request.product}">HAMP</td>
							<td th:text="${request.quantity}">HAMP</td>
							<td th:text="${request.state}">HAMP</td>
							<td th:text="${request.date}">HAMP</td>
							<td th:text="${request.unit_price}">HAMP</td>
							
							
							<td>
							  <a th:href="@{'/requests/edit/'+ ${request.id}}" class="btn btn-success">Editar</a>
							</td>
							<td><a th:href="@{'/requests/delete/' + ${request.id}}" class="btn btn-danger">Eliminar</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
	<th:block th:include="fragments/scripts"></th:block>

</body>
</html>